.header {
  display: flex;
  background-image: url("./images/tim-mossholder-H6eaxcGNQbU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  max-height: 600px;
  min-height: 300px;
  padding: 30px;
}

.header--blurTop {
  height: 15px;
  background-image: linear-gradient(
    180deg,
    #000,
    transparent,
    rgba(255, 255, 255, 0.61)
  );
}

@media (max-width: 823px) {
  .header {
    min-height: 150px;
  }
  .header--blurTop {
    display: none;
  }
}
